@media (max-width: 1200px) {
    .season {
        justify-content: center;
    }
    .remember {
        justify-content: center;
    }
    
}

@media(max-width: 769px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        height: 100vh;

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 32px;
        }
        
        &__text {
            text-align: center;
        }
    }

    .title {
        padding-top: 238px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    
// Времена года

    .season {
        gap: 64 px;

        &__content {
            flex-direction: row;
            justify-content: center;
            width: 343px;
            padding-top: 51px;
            padding-bottom: 0px;
        }

        &__title {
            font-size: 32px;
        }

        &__text {
            text-align: center;
            font-size: 14px;
        }

        &__picture {
            padding-bottom: 85px;
        }
    }

// Запомни слова

    .remember {
        flex-direction: column-reverse;
        gap: 64 px;
    
        &__content {
            flex-direction: row;
            justify-content: center;
            width: 343px;
            padding-top: 51px;
            padding-bottom: 0px;
        }
    
        &__title {
            font-size: 32px;
        }
    
        &__text {
            text-align: center;
            font-size: 14px;
        }
        .slider {
            padding-top: 0px;
            padding-bottom: 90px;
        }
    }
}

