@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(../img/headerFon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__content {
        padding-left: 16px;
        padding-right: 16px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 44px;
    }

    &__link {
        width: 234px;
        height: 48px;
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #9C0332;
        border-radius: 30px;
        &:hover {
            background: #EB443F;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 217px;
    margin-bottom: 32px;
}

.game {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url(../img/firstsectionFon.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding-left: 16px;
    padding-right: 16px;

    &__box {
            width: 378px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            box-sizing: border-box;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            
        &:hover {
            border: 3px solid #44D2FF;
            cursor: pointer;
        }

        &_1 {
            background-image: url(../img/firstsectionGame1.jpg);
        }

        &_2 {
            background-image: url(../img/firstsectionGame2.jpg);
        }

        &_3 {
            background-image: url(../img/firstsectionGame3.jpg);
        }
    }

    &__link {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        padding-left: 32px;
        padding-bottom: 32px;
    }

}
@import "mobile";